@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.sign-in-1 {
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
}

.sign-in-2 {
  float: right;
}
